backend/infrastructure/n8n-workflows/google-calendar-list.json
{
  "name": "SPHERE - Google Calendar List",
  "nodes": [
    {
      "parameters": {
        "path": "shared/calendar-list",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst received = String((input.headers || {})['x-webhook-signature'] || '');\nconst secret = $env.N8N_WEBHOOK_SECRET || '';\nif (!secret) throw new Error('N8N_WEBHOOK_SECRET no configurado en n8n');\n\n// Forma canonica identica a la del backend:\n// json.dumps(payload, separators=(',', ':'), sort_keys=True, ensure_ascii=False)\nfunction canon(v) {\n  if (v === null || typeof v !== 'object') return JSON.stringify(v);\n  if (Array.isArray(v)) return '[' + v.map(canon).join(',') + ']';\n  return '{' + Object.keys(v).sort().map(k => JSON.stringify(k) + ':' + canon(v[k])).join(',') + '}';\n}\n\nconst expected = crypto.createHmac('sha256', secret)\n  .update(Buffer.from(canon(input.body || {}), 'utf8'))\n  .digest('hex');\nconst a = Buffer.from(received, 'utf8');\nconst b = Buffer.from(expected, 'utf8');\nif (a.length !== b.length || !crypto.timingSafeEqual(a, b)) {\n  throw new Error('Firma de webhook invalida');\n}\nreturn $input.all();"
      },
      "id": "verify-hmac-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst creds = payload.user_credentials?.google_calendar || {};\n\nreturn [{\n  json: {\n    api_key: creds.api_key || '',\n    calendar_id: creds.calendar_id || 'primary',\n    date_from: payload.date_from,\n    date_to: payload.date_to,\n    max_results: payload.max_results || 10\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.calendar_id }}/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ $json.date_from }}T00:00:00Z"
            },
            {
              "name": "timeMax",
              "value": "={{ $json.date_to }}T23:59:59Z"
            },
            {
              "name": "maxResults",
              "value": "={{ $json.max_results }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Google Calendar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Credentials": {
      "main": [
        [
          {
            "node": "Google Calendar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Extract Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SPHERE"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-20T00:00:00.000Z",
  "versionId": "1"
}
