backend/infrastructure/n8n-workflows/google-calendar-update.json
{
  "name": "SPHERE - Google Calendar Update",
  "nodes": [
    {
      "parameters": {
        "path": "shared/calendar-update",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst creds = payload.user_credentials?.google_calendar || {};\n\nreturn [{\n  json: {\n    api_key: creds.api_key || '',\n    calendar_id: creds.calendar_id || 'primary',\n    event_id: payload.event_id,\n    title: payload.title || '',\n    start_time: payload.start_time || '',\n    end_time: payload.end_time || '',\n    description: payload.description || ''\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ $json.calendar_id }}/events/{{ $json.event_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.title || undefined, start: $json.start_time ? { dateTime: $json.start_time } : undefined, end: $json.end_time ? { dateTime: $json.end_time } : undefined, description: $json.description || undefined }) }}",
        "options": {}
      },
      "id": "http-1",
      "name": "Google Calendar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node": "Extract Credentials", "type": "main", "index": 0}]] },
    "Extract Credentials": { "main": [[{"node": "Google Calendar API", "type": "main", "index": 0}]] },
    "Google Calendar API": { "main": [[{"node": "Respond", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "SPHERE" }]
}
