backend/infrastructure/n8n-workflows/jules-status.json
{
  "name": "SPHERE - Jules Status",
  "nodes": [
    {
      "parameters": {
        "path": "cto/jules-status",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst creds = payload.user_credentials?.jules || {};\n\nreturn [{\n  json: {\n    api_key: creds.api_key || '',\n    task_id: payload.task_id\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.jules.google/v1/tasks/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.api_key }}" }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Jules API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node": "Extract Credentials", "type": "main", "index": 0}]] },
    "Extract Credentials": { "main": [[{"node": "Jules API", "type": "main", "index": 0}]] },
    "Jules API": { "main": [[{"node": "Respond", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "SPHERE" }]
}
