backend/infrastructure/n8n-workflows/schedule-post.json
{
  "name": "SPHERE - Schedule Post",
  "nodes": [
    {
      "parameters": {
        "path": "cmo/schedule-post",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst input = $input.first().json;\nconst received = String((input.headers || {})['x-webhook-signature'] || '');\nconst secret = $env.N8N_WEBHOOK_SECRET || '';\nif (!secret) throw new Error('N8N_WEBHOOK_SECRET no configurado en n8n');\n\n// Forma canonica identica a la del backend:\n// json.dumps(payload, separators=(',', ':'), sort_keys=True, ensure_ascii=False)\nfunction canon(v) {\n  if (v === null || typeof v !== 'object') return JSON.stringify(v);\n  if (Array.isArray(v)) return '[' + v.map(canon).join(',') + ']';\n  return '{' + Object.keys(v).sort().map(k => JSON.stringify(k) + ':' + canon(v[k])).join(',') + '}';\n}\n\nconst expected = crypto.createHmac('sha256', secret)\n  .update(Buffer.from(canon(input.body || {}), 'utf8'))\n  .digest('hex');\nconst a = Buffer.from(received, 'utf8');\nconst b = Buffer.from(expected, 'utf8');\nif (a.length !== b.length || !crypto.timingSafeEqual(a, b)) {\n  throw new Error('Firma de webhook invalida');\n}\nreturn $input.all();"
      },
      "id": "verify-hmac-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        350,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst li = payload.user_credentials?.linkedin || {};\nconst ig = payload.user_credentials?.instagram || {};\nconst platform = (payload.platform || '').toLowerCase();\n\nconst scheduledTime = payload.scheduled_time || '';\nconst validParams = ['linkedin', 'instagram'].includes(platform)\n  && Boolean(scheduledTime)\n  && Boolean(payload.content)\n  && !isNaN(Date.parse(scheduledTime))\n  && Date.parse(scheduledTime) > Date.now();\n\nconst hasCreds = platform === 'linkedin'\n  ? Boolean(li.access_token)\n  : Boolean(ig.access_token && ig.instagram_account_id);\n\nreturn [{\n  json: {\n    valid: validParams,\n    has_creds: hasCreds,\n    platform,\n    content: payload.content || '',\n    image_url: payload.image_url || '',\n    scheduled_time: scheduledTime,\n    li_access_token: li.access_token || '',\n    ig_access_token: ig.access_token || '',\n    ig_account_id: ig.instagram_account_id || ''\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            },
            {
              "value1": "={{ $json.has_creds }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Valid Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nreturn [{\n  json: {\n    scheduled: true,\n    platform: ctx.platform,\n    scheduled_time: ctx.scheduled_time,\n    message: `Post programado en ${ctx.platform} para ${ctx.scheduled_time}. Se publicara automaticamente.`\n  }\n}];"
      },
      "id": "code-2",
      "name": "Confirm Scheduled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst reason = !ctx.valid\n  ? 'Parametros invalidos: se requiere platform (linkedin|instagram), content y scheduled_time en formato ISO con fecha futura.'\n  : `${ctx.platform === 'linkedin' ? 'LinkedIn' : 'Instagram'} no esta conectado. Conectalo en Conexiones (/settings/integrations).`;\nreturn [{ json: { error: true, service: 'schedule_post', message: reason } }];"
      },
      "id": "code-3",
      "name": "Reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        420
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-2",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        420
      ]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $('Extract Input').first().json.scheduled_time }}"
      },
      "id": "wait-1",
      "name": "Wait Until Scheduled",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Extract Input').first().json.platform }}",
              "operation": "equal",
              "value2": "linkedin"
            }
          ]
        }
      },
      "id": "if-2",
      "name": "Is LinkedIn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Input').first().json.li_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:me\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": {{ JSON.stringify($('Extract Input').first().json.content) }}\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1650,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Extract Input').first().json.ig_account_id }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Input').first().json.ig_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $('Extract Input').first().json.image_url }}\",\n  \"caption\": {{ JSON.stringify($('Extract Input').first().json.content) }},\n  \"media_type\": \"IMAGE\"\n}",
        "options": {}
      },
      "id": "http-2",
      "name": "Instagram Create Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1650,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $('Extract Input').first().json.ig_account_id }}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Input').first().json.ig_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "id": "http-3",
      "name": "Instagram Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1850,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Valid Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Request": {
      "main": [
        [
          {
            "node": "Confirm Scheduled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Scheduled": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond": {
      "main": [
        [
          {
            "node": "Wait Until Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until Scheduled": {
      "main": [
        [
          {
            "node": "Is LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is LinkedIn": {
      "main": [
        [
          {
            "node": "LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Create Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Media": {
      "main": [
        [
          {
            "node": "Instagram Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "SPHERE"
    }
  ]
}
