backend/infrastructure/n8n-workflows/social-analytics.json
{
  "name": "SPHERE - Social Analytics",
  "nodes": [
    {
      "parameters": {
        "path": "cmo/social-analytics",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst ig = payload.user_credentials?.instagram || {};\n\n// La Graph API de Instagram acepta periodos: day, week, days_28\nconst periodMap = { '7d': 'week', '30d': 'days_28', '90d': 'days_28' };\n\nreturn [{\n  json: {\n    has_instagram: Boolean(ig.access_token && ig.instagram_account_id),\n    access_token: ig.access_token || '',\n    instagram_account_id: ig.instagram_account_id || '',\n    platform: payload.platform || 'all',\n    period: periodMap[payload.period] || 'days_28',\n    requested_period: payload.period || '30d'\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.has_instagram }}", "value2": true }
          ]
        }
      },
      "id": "if-1",
      "name": "Has Instagram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.instagram_account_id }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "metric", "value": "impressions,reach" },
            { "name": "period", "value": "={{ $json.period }}" },
            { "name": "access_token", "value": "={{ $json.access_token }}" }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Instagram Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst ctx = $('Extract Credentials').first().json;\n\nconst result = {\n  platform: 'instagram',\n  period: ctx.requested_period,\n  insights: data.data || data\n};\n\nif (ctx.platform === 'all' || ctx.platform === 'linkedin') {\n  result.note = 'Analytics de LinkedIn aun no disponibles (requiere LinkedIn Marketing Developer Platform). Se muestran solo metricas de Instagram.';\n}\n\nreturn [{ json: result }];"
      },
      "id": "code-2",
      "name": "Format Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: true,\n    service: 'social_analytics',\n    message: 'Instagram no esta conectado. Conectalo en Conexiones (/settings/integrations) para ver tus metricas. Analytics de LinkedIn aun no esta soportado.'\n  }\n}];"
      },
      "id": "code-3",
      "name": "No Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node": "Extract Credentials", "type": "main", "index": 0}]] },
    "Extract Credentials": { "main": [[{"node": "Has Instagram", "type": "main", "index": 0}]] },
    "Has Instagram": { "main": [[{"node": "Instagram Insights", "type": "main", "index": 0}], [{"node": "No Credentials", "type": "main", "index": 0}]] },
    "Instagram Insights": { "main": [[{"node": "Format Analytics", "type": "main", "index": 0}]] },
    "Format Analytics": { "main": [[{"node": "Respond", "type": "main", "index": 0}]] },
    "No Credentials": { "main": [[{"node": "Respond", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "SPHERE" }]
}
