backend/infrastructure/n8n-workflows/stock-data.json
{
  "name": "SPHERE - Stock Data",
  "nodes": [
    {
      "parameters": {
        "path": "cfo/stock-data",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\nconst creds = payload.user_credentials?.financial_api || {};\n\nreturn [{\n  json: {\n    api_key: creds.api_key || '',\n    symbol: payload.symbol || 'AAPL'\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.alphavantage.co/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "function", "value": "GLOBAL_QUOTE" },
            { "name": "symbol", "value": "={{ $json.symbol }}" },
            { "name": "apikey", "value": "={{ $json.api_key }}" }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Alpha Vantage API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node": "Extract Credentials", "type": "main", "index": 0}]] },
    "Extract Credentials": { "main": [[{"node": "Alpha Vantage API", "type": "main", "index": 0}]] },
    "Alpha Vantage API": { "main": [[{"node": "Respond", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "SPHERE" }]
}
